.swiper-pagination.swiper-pagination-bullets {
	bottom: 0 !important;
}
.swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	margin: 0 2px !important;
}
.swiper-pagination-bullet-active {
	width: 15px;
	height: 6px;
	background: #74b2cb;
	border-radius: 5px;
}
